<h2>Reactive Form Demo</h2>
<form class="form-horizontal"
 [formGroup]="registerForm" 
 (ngSubmit)="logForm(registerForm.value)">
  <div class="container">
    <div class="form-group">
      <label>FirstName: </label>
      <input type="text" class="form-control" 
      formControlName="firstname">
      <div class="text-danger"
      *ngIf="registerForm.get('firstname').hasError('required')
      && registerForm.get('firstname').touched">
        First Name is required.....
      </div>
    </div>
    <div class="form-group">
      <label>LastName: </label>
      <input type="text" class="form-control" 
      formControlName="lastname">
      <div class="text-danger"
        *ngIf="registerForm.get('lastname').touched">
        <p *ngIf="registerForm.get('lastname').hasError('required')">Last Name is required.....</p>
        <p *ngIf="registerForm.get('lastname').hasError('minlength')">Min Length.....</p>
        <p *ngIf="registerForm.get('lastname').hasError('maxlength')">Max Length.....</p>
      </div>
    </div>
    <fieldset formGroupName="address">
      <div class="form-group">
        <label>City: </label>
        <input type="text" class="form-control" 
        formControlName="city">
        <div class="text-danger"
        *ngIf="registerForm.get('address.city').touched">
        <p *ngIf="registerForm.get('address.city').hasError('required')">City is required.....</p>        
      </div>
      </div>
      <div class="form-group">
        <label>Zip: </label>
        <input type="text" class="form-control" 
        formControlName="zip">
        <div class="text-danger"
        *ngIf="registerForm.get('address.zip').touched">
        <p *ngIf="registerForm.get('address.zip').hasError('required')">Zipcode is required.....</p>        
        <p *ngIf="registerForm.get('address.zip').hasError('pattern')">Pattern mismatch - zipcode should be 5 digits.....</p>        
      </div>
      </div>
    </fieldset>
    <div class="form-group">
      <label>Email: </label>
      <input type="text" class="form-control" 
      formControlName="emailAddr">
      <div class="text-danger"
      *ngIf="registerForm.get('emailAddr').touched">
      <p *ngIf="registerForm.get('emailAddr').hasError('required')">Email is required.....</p>        
      <p *ngIf="registerForm.get('emailAddr').hasError('pattern')">Pattern mismatch - Email Address.....</p>        
      <p *ngIf="registerForm.get('emailAddr').hasError('emailDomain')">Email must be of Persistent.com.....</p>        
    </div>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" 
      [disabled]=registerForm.invalid value="Submit">
    </div>
  </div>
</form>